// ListaVagasStyles.ts
import styled from "styled-components";

export const ListaContainer = styled.div`
  width: 100%;
`;

export const VagasList = styled.ul`
  margin-top: 32px;
  list-style: none;
  display: grid;
  gap: 16px;
  padding: 0;

  @media (max-width: 768px) {
    gap: 12px;
  }
`;
