import styled from "styled-components";

export const VagaItem = styled.li`
  background-color: var(--cor-secundaria);
  border: 1px solid var(--cor-principal);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 24px;
  list-style: none;
`;

export const VagaTitulo = styled.h3`
  font-size: 20px;
  color: var(--cor-principal);
  margin-bottom: 12px;
`;

export const VagaLink = styled.a`
  display: inline-block;
  margin-top: 12px;
  padding: 8px 16px;
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
  font-weight: bold;

  &:hover {
    opacity: 0.8;
  }
`;
